.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .peso-kid {
    color: green;
  }

  .nombre-correcto {
    font-weight: bold;
    color: green;
  }

  .nombre-erroneo {
    font-style: italic;
    color: red;
  }